@import url('https://fonts.googleapis.com/css?family=Quicksand');
body {
 
    font-family: 'Quicksand', sans-serif;
    
}
@media screen and (max-width: 768px) {
  .col-mgbtm {
    margin-bottom: 20px;
  }
}
.org-txt {
  color: #f0bd23;
  font-weight: 600;
}
.blue-txt {
  color: #2196F3;
	margin-top: 10px;
	font-weight: 500;
  cursor: pointer;
	font-size: 15px;
}
.green-btn,
.green-btn:hover,
.green-btn:focus {
  background: #02b681;
  border-radius: 0px;
	color: #fff;
	font-size: 20px;
	padding: 11px;
	width: 100%;
   outline: none !important;
  font-weight: 600;
  box-shadow: 0px 5px 2px -4px gainsboro;
    border-radius: 0px;
}
.green-btn:focus:active {
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  color: #fff;
}
.grey-btn,
.grey-btn:hover {
    background-color: #1aaaff;
    border-radius: 0px;
	color: white;
	font-size: 17px;
	padding: 10px;
	width: 100%;
	outline: none !important;
	font-weight: 700;
    
}
.grey-btn:focus:active {
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  color: #f8b195;
}
.tw-btn,
.tw-btn:hover {
	background: #f8b195;
	border-radius: 3px;
	color: #fff !important;
	font-size: 17px;
	padding: 10px;
	width: 100%;
	outline: none !important;
	font-weight: 700;
	box-shadow: 0px 5px 2px -4px gainsboro;
}
.tw-btn:focus:active {
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  color: #777;
}
.saved-btn,
.saved-btn:hover {
  background: #FFC107;
  border: solid 1px #FFC107;
  color: #fff !important;
}
/*Buttons end*/


/*Donation*/
.custom-popover {
  border-radius: 0px;
  position: relative;
	display: block;
	width: 100%;
	margin-bottom: 20px;
	max-width: 100%;
  color: #33c3ff;
  border: 0;
  padding: 10px 5px;
    border:solid;
    border-color: #33c3ff;
    }
.custom-popover p {
  margin-bottom: 0;
	font-size: 20px;
	text-align: center;
	font-weight: 100;
}
.custom-popover .arrow {
  margin-left: auto;
  transition: 0.4s all ease-in-out;
}
.custom-popover .arrow:after {
  border-top-color: #33c3ff !important;
}
.box {
  border-radius: 0;
  border: solid 1px gainsboro;
  
    background-color: white;
}
.box-padd {
  padding: 20px;
}
.box p {
  font-size: 18px;
	font-weight: 500;
	color: #757575;
}
.progress {
  border-radius: 0;
  border-bottom: solid 1px #dcdcdc;
  box-shadow: none;
  margin-bottom: 0;
}
.progress .progress-bar {
  background: #f5717b;
  box-shadow: none;
	
	height: 100% !important;
}
.amt-input-group-addon {
  background: rgba(0, 0, 0, 0);
  padding-right: 0;
  font-weight: 700;
  color: #757575;
  font-size: 20px;
  padding: 10px;
  border-radius: 0;
}
.input-group-txt,
.input-group-txt:hover,
.input-group-txt:focus {
    border: 1px solid #ccc;
	border-left: 0;
	box-shadow: none;
	outline: none;
	font-size: 22px;
	padding: 10px;
	height: auto;
	padding-left: 0;
	font-weight: 600;
    border-radius: 0;
}
#success {
  display: none;
}
.share-popover {
  border-radius: 4px;
  position: relative;
	display: block;
	width: 100%;
	margin-bottom: 20px;
	max-width: 100%;
  background: #fff;
  padding: 10px 5px;
  margin-top: 20px !important;
}
.share-popover .arrow {
  left: 75% !important;
}